<!DOCTYPE html>
<html>
    <head>
        <style>
            td{
                width: 80px;
                height: 15px;
                border-radius: 0%;
                padding: 0px;
                border-color:gray;
            }

            input:focus{
                border-color: red;
            }

            input{
                width: 80px;
                height: 15px;
                border:none;
            }

            table{
                border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1>{{ sheetTitle }}</h1>
        <button>Zapisz</button>
        <form method="POST">
            <table border="1">
            {% for i in cell %}
            <tr></tr>
                {% for j in i %}
                    <td><input type="text" value="{{ j }}" class="tab-cell" name =""></td>
                {% endfor %}
            {% endfor %}
            </table>
        </form>
        <script>
            function setCellName(){
                var cls = document.getElementsByClassName("tab-cell")
                for(i = 0, length = cls.length; i < length; i++ ){
                    cls[i].name = i+1
                }
            }
            
            setCellName()
        </script>
    </body>
</html>
